{% extends "base.html" %}

{% block content %}

<div class="heading">
<h1>Available Conference Rooms</h1>
</div>
<div class="rooms">
    <div class="card">
        <img src="static/images/premium_room.jpg" alt="Room 1">
        <h3>Premium Conference Room</h3>
        <p>₹2,000 / hour</p>
        <p>Capacity: 12 people</p>
        <button>Book Now</button>
    </div>
    <div class="card">
        <img src="static/images/executive_room.jpg" alt="Room 2">
        <h3>Executive Room</h3>
        <p>₹1,500 / hour</p>
        <p>Capacity: 8 people</p>
        <button>Book Now</button>
    </div>
    <div class="card">
        <img src="static/images/room2.jpg" alt="Room 3">
        <h3>Deluxe Meeting Room</h3>
        <p>₹1,200 / hour</p>
        <p>Capacity: 10 people</p>
        <button>Book Now</button>
    </div>
    <div class="card">
        <img src="static/images/team_room.jpg" alt="Room 4">
        <h3>Small Team Room</h3>
        <p>₹800 / hour</p>
        <p>Capacity: 5 people</p>
        <button>Book Now</button>
    </div>
    <div class="card">
        <img src="static/images/room3.jpg" alt="Room 5">
        <h3>Training Room</h3>
        <p>₹2,500 / hour</p>
        <p>Capacity: 20 people</p>
        <button>Book Now</button>
    </div>
</div>

{% endblock %}
